<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
    xmlns:p="http://www.springframework.org/schema/p"  
   xmlns:context="http://www.springframework.org/schema/context"   
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
   xsi:schemaLocation="  
           http://www.springframework.org/schema/beans    
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
           http://www.springframework.org/schema/aop    
            http://www.springframework.org/schema/aop/spring-aop-3.1.xsd    
            http://www.springframework.org/schema/tx    
           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd    
            http://www.springframework.org/schema/context    
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">  
 
    <!-- DataSource -->  
   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
        destroy-method="close">  
        <property name="driverClass" value="com.mysql.jdbc.Driver" />  
       <property name="jdbcUrl"   
            value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=utf-8" />
        <property name="user" value="root" />  
        <property name="password" value="zkq001" />
   </bean>
  
    <!-- SessionFactory -->  
    <bean id="sessionFactory"  
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"  
        p:dataSource-ref="dataSource"    
        p:configLocation="classpath:hibernate.cfg.xml" />  
  
    <!-- TransactionManager -->  
    <bean id="transactionManager"  
       class="org.springframework.orm.hibernate4.HibernateTransactionManager"  
       p:sessionFactory-ref="sessionFactory" />  
  
    <!-- Spring Advice -->  
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
       <tx:attributes>  
           <tx:method name="get*" read-only="true" propagation="REQUIRED"></tx:method>  
           <tx:method name="*" propagation="REQUIRED"></tx:method>  
           <tx:method name="find*" read-only="true" propagation="REQUIRED"/><!--之前是NOT_SUPPORT-->
           <tx:method name="save*" propagation="REQUIRED"/>
           <tx:method name="update*" propagation="REQUIRED"/>
           <tx:method name="remove*" propagation="REQUIRED"/>
           <tx:method name="add*" propagation="REQUIRED"/>
        </tx:attributes>  
    </tx:advice>  
  
    <!-- Spring Aop Config -->  
   <aop:config>  
        <aop:pointcut id="pointcut"  
           expression="execution(* com.saygood.soft.service.impl.*Impl.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />  
   </aop:config>  
 
   <!-- Dao -->  
    <bean id="baseDao" class="com.saygood.soft.dao.impl.BaseDaoImpl">
        <property name="sessionFactory">  
           <ref bean="sessionFactory" />  
       </property>  
   </bean>  
 
    <!-- Service -->  
    <bean id="userService" class="com.saygood.soft.service.impl.UserServiceImpl">
       <property name="baseDao">  
           <ref bean="baseDao" />  
       </property>  
   </bean>  
 
    <!-- Action -->  
    <bean id="loginAction" class="com.saygood.soft.actions.GetClientAction"
       scope="session">  
        <property name="userService">  
            <ref bean="userService" />  
        </property>  
   </bean> 
   <bean id="saveAction" class="com.saygood.soft.actions.SaveAction"
       scope="session">  
        <property name="userService">  
            <ref bean="userService" />  
        </property>  
   </bean>
    <bean id="saveScanViewAction" class="com.saygood.soft.actions.SaveScanViewAction"
       scope="session">
        <property name="userService">
            <ref bean="userService" />
        </property>
   </bean>
   <bean id="getlistAction" class="com.saygood.soft.actions.GetClientListAction"
       scope="session">  
        <property name="userService">  
            <ref bean="userService" />  
        </property>  
   </bean> 
   <bean id="getclfAction" class="com.saygood.soft.actions.GetClientsByClassifyIdAction"
       scope="session">  
        <property name="userService">  
            <ref bean="userService" />  
        </property>  
   </bean>
    <bean id="getscvmlistAction" class="com.saygood.soft.actions.GetScanViewListAction"
       scope="session">
        <property name="userService">
            <ref bean="userService" />
        </property>
   </bean>
 
</beans>  
